<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="#">
            <img src="../public/assets/images/nosh_nav_logo-01.svg" height="30" alt="">
        </a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="" class="nav-link">Stats</a></li>
                <li class="nav-item"><a href="" class="nav-link">About</a></li>
            </ul>
        </div>
    </nav>