<!doctype html>
<html lang="en">
<head>
    {{>head}}
    <title>{{#if title}}{{title}}{{else}}nosh{{/if}}</title>
    {{>styles}}
</head>
<body class="{{page}}">
    {{{body}}}
    {{>scripts}}
</body>
</html>
