<div class="container-fluid splash-page">
    <div class="mainTitle">
        <img src="/assets/images/nosh_logo_tagline-01.svg" alt="nosh" class="nosh-svg">
        <a href="/login" class="btn btn-primary btn-lg start-button" role="button">Start Now</a>
        <a href="#" class="about-arrow">
            <img src="/assets/images/about_arrow-01.svg" alt="about" height="50" class="about-svg">
        </a>
    </div>
    <div id="about-nosh" class="about-nosh gradient">
        <div class="container">
            <h1 class="display-3">Nosh?</h1>
            <p class="lead">Nosh is for the average Mensch/Good Guy who needs food fast.
            <br>(Because not all of us are fortunate enough to have our bubbies/grandmas around.)</p>
            <p class="nosh-lucky">You should be so lucky!</p>
        </div>
    </div>
    <div class="spacer"></div>
</div>
