<div class="container-fluid splash-page">
    <div class="mainTitle">
        <img src="/assets/images/nosh_logo_tagline-01.svg" alt="nosh" class="nosh-svg">
        <a href="/welcome" class="btn btn-primary btn-lg start-button" role="button">Start Now</a>
        <img src="/assets/images/about_arrow-01.svg" alt="about" class="about-svg">
    </div>
    <div class="about-nosh gradient">
        <div class="container">
            <h1 class="display-3">What is Nosh?</h1>
            <p class="lead">Nosh is for the average Mensch/Good Guy who needs food fast.
                <br>
                <span>Because not all of us are fortunate enough to have our bubbies/grandmas around.</span>
                <br>
                <i>You should be so lucky!</i>
            </p>
        </div>
    </div>
</div>
