<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Poppins" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="app.js"></script>
      
<title>Nosh</title>
</head>

<body>
        <div class="container">
            <div class="jumbotron" style="height:700px; background-color: white; margin:50px;">
                  <a href="../public/images/nosh_logo.png"><img src="nosh_logo.png" width="82" height="86" title="nosh" alt="nosh"></a>
                  <div class="buttons"></div>
                  <a class="btn btn-primary btn-sm" style="background:linear-gradient(darkorange, orangered); width: 100px; margin-left:auto; margin-right:auto; display:block; margin-top:22%;margin-bottom:0%" href="#" role="button">login</a>
                  <a class="btn btn-primary btn-sm" style="background:linear-gradient(darkorange, orangered); width: 100px; margin-left:auto; margin-right:auto; display:block; margin-top:2%;margin-bottom:0%" href="#" role="button">guest</a>
                  <p style="color:#009d4f; text-align: center; margin-top:2%;">about</p>
                </div>
                </div>
                </div>
              </div>    

</body>
</html>