/* css for all pages */
html {
    height: 100%;
}
/* css for main page */
.homeDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    height: 100%;
}
.homeBody {
    background-image: url("../images/main_page_bg.jpg") !important;
    background-size: cover;
    height: 100%;
}
.mainTitle {
    background-image: url("../images/main_page_bg.jpg") !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.noshSvg {
    width: 50%;
    height: auto;
    margin: auto;
}
.startBtn {
    background-color: rgb(255, 77, 0);
    border: 0 none;
    font-family: 'Muli', sans-serif;
    margin: auto;
}
.startBtn:hover {
    background-color: rgb(0, 157, 79);
    border: 0 none;
}
.aboutArrow {
    margin: auto;
}
.aboutDiv {
    height: 1000px;
}
.aboutNosh {
    font-family:'Muli', sans-serif;
    color: white;
    text-align: center;
    background: linear-gradient(to top left, rgb(255, 77, 0), rgb(255, 144, 21));
}

/* results page navbar */
.resultsNav {
    background: linear-gradient(to top left, rgb(255, 77, 0), rgb(255, 144, 21));
}
.resultsBody {
    background: white;
    background-repeat: no-repeat;
    height: 100% !important;
}
.resultSpan {
    margin-top: 20px;
    text-align: center;
    background: none !important;
    font-family: 'Muli', sans-serif;
    color: rgb(255, 77, 0);
}
/* JUST IN CASE
.phoneDirBtn {
    display: flex;
    justify-content: flex-end;
    background-color: red;
    color: white;
    border: none;
}
.phoneDirBtn:hover {
    background-color: orangered;
    color: white;
} */

/* results page carousel */
.slide {
    margin: auto;
    width: 50%;
    height: 300px !important;
  }
  .carousel-inner{
    margin-top: 20px;
    height: 300px !important;
    border-radius: 55px 55px 55px 55px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  /* stars */
.starsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checked {
    color: rgb(255, 144, 21);
  }
/* restaurant details table */
.tableTitle {
    color: rgb(255, 77, 0);
    font-family: 'Muli', sans-serif;
}
.detailsTable {
    font-family: 'Muli', sans-serif;
    border-radius: 0px 0px 20px 20px;
}
.otherResultsBtn {
    margin-bottom: 20px;
}

/* user & welcome pages */

.topfont {
    font-family:'Muli', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
}

.formtext {
    font-family:'Muli', sans-serif;
    font-size: 20px;
    text-align: left;
    color:  orangered;
    margin-bottom: 0px;
}


.card-body {
    box-shadow: 9px 15px 17px -5px rgba(0,0,0,1);
    border-radius: 60px;
    width: 400%;
}


/* nav bar */

.nav-link{
    font-family:'Muli', sans-serif;
    font-size: 25px;
    color: #FFFFFF !important;
}


.nav-link:hover {
   color: #019D4E !important;
   transition: all ease-in-out .6s;
}

/* modal css */

.modal-header {
    font-family:'Muli', sans-serif;
    font-size: 40px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    overflow: auto; /* Enable scroll if needed */
}


.star{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: orangered;
}

/* The Close Button */
.btn-secondary {
  top: 15px;
  right: 35px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
  background: linear-gradient(to top left, rgb(255, 77, 0), rgb(255, 144, 21));
  border-radius: 8px;
  padding: 10px;
}

.btn-primary {
    top: 15px;
    right: 35px;
    color:#FFFFFF;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    background: linear-gradient(to top left, rgb(255, 77, 0), rgb(255, 144, 21));
    border-radius: 8px;
    padding: 10px;
    
}